apify_client==3.0.6
appdirs==1.4.4
atomicwrites==1.4.0
dnspython==2.8.0
email-validator==2.3.0
git-filter-repo==2.47.0
impit==0.13.1
jsonpointer==2.1
matplotlib==3.10.0
pdfminer.six==20221105
pdfplumber==0.10.2
pillow==11.3.0
playwright==1.61.0
playwright-stealth==2.0.3
psycopg2-binary==2.9.12
pyasn1-modules==0.2.8
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
pyls-spyder==0.4.0
pypdfium2==5.12.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyshp==3.1.4
setuptools==72.1.0
simpledbf==0.2.6
typing-inspection==0.4.2
typing_extensions==4.16.0
wheel==0.45.1
